In [25]:
import pandas as pd

In [26]:
df_raw = pd.read_csv('../data/raw/data_raw_1992_2023.csv')
df_raw.head()

,Unnamed: 0,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,...,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,0,1992-01-01,5783,SEVILLA AEROPUERTO,SEVILLA,34,"9,0","0,0","2,4",05:00,...,15:10,6.0,"3,3","10,3",15:35,"8,0","1029,5",11,"1026,4",15
1,1,1992-01-02,5783,SEVILLA AEROPUERTO,SEVILLA,34,"11,2","0,0","5,6",04:10,...,15:05,7.0,"6,1","12,8",09:05,"8,2","1029,7",10,"1026,6",16
2,2,1992-01-03,5783,SEVILLA AEROPUERTO,SEVILLA,34,"10,1","0,0","3,2",03:10,...,15:30,7.0,"3,1","7,2",11:45,"8,4","1030,6",11,"1026,9",18
3,3,1992-01-04,5783,SEVILLA AEROPUERTO,SEVILLA,34,"9,0","0,0","2,5",08:45,...,15:30,6.0,"3,1","7,2",12:15,"8,9","1029,6",12,"1027,3",Varias
4,4,1992-01-05,5783,SEVILLA AEROPUERTO,SEVILLA,34,"9,0","0,0","2,3",05:20,...,16:30,6.0,"5,8","14,4",11:00,"8,0","1027,4",12,"1024,9",18

Limpieza y formateo de columnas

In [27]:
df_raw.drop(['Unnamed: 0', 'indicativo', 'nombre', 'provincia', 'altitud'], axis=1, inplace=True)
df_raw.head()

,fecha,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,1992-01-01,"9,0","0,0","2,4",05:00,"15,6",15:10,6.0,"3,3","10,3",15:35,"8,0","1029,5",11,"1026,4",15
1,1992-01-02,"11,2","0,0","5,6",04:10,"16,8",15:05,7.0,"6,1","12,8",09:05,"8,2","1029,7",10,"1026,6",16
2,1992-01-03,"10,1","0,0","3,2",03:10,"17,0",15:30,7.0,"3,1","7,2",11:45,"8,4","1030,6",11,"1026,9",18
3,1992-01-04,"9,0","0,0","2,5",08:45,"15,4",15:30,6.0,"3,1","7,2",12:15,"8,9","1029,6",12,"1027,3",Varias
4,1992-01-05,"9,0","0,0","2,3",05:20,"15,6",16:30,6.0,"5,8","14,4",11:00,"8,0","1027,4",12,"1024,9",18

In [28]:
df_raw.dtypes

fecha           object
tmed            object
prec            object
tmin            object
horatmin        object
tmax            object
horatmax        object
dir            float64
velmedia        object
racha           object
horaracha       object
sol             object
presMax         object
horaPresMax     object
presMin         object
horaPresMin     object
dtype: object

Veamos los nulls

In [29]:
df_raw.isnull().sum()

fecha            0
tmed            28
prec             4
tmin            28
horatmin        34
tmax            26
horatmax        28
dir            195
velmedia        54
racha          195
horaracha      198
sol            134
presMax         79
horaPresMax     80
presMin         79
horaPresMin     79
dtype: int64